extends layout

block content
  h1= title
  p Все обращения

  // Форма для фильтрации
  form(method="GET", action="/all_appeal")
    div
      label(for="date") Конкретная дата:
      input(type="date", name="date", id="date", value=currentDate)

    div
      label(for="startDate") Начальная дата:
      input(type="date", name="startDate", id="startDate", value=currentStartDate)

    div
      label(for="endDate") Конечная дата:
      input(type="date", name="endDate", id="endDate", value=currentEndDate)

    div
      button(type="submit") Применить фильтры

  // Список обращений
  table
    thead
      tr
        th Тема
        th Текст
        th Статус
        th Решение
        th Дата создания
        th Действия
    tbody
      each appeal in appeals
        tr
          td= appeal.topic
          td= appeal.text
          td= appeal.status
          td= appeal.solution || '—'
          td= appeal.createdAt
          td
            a(href=`/appeal_solution/${appeal.id}`)
              button(type="button") Взять в работу

  a(href="/create_appeal")
    button(type="button") Создать обращение